.product-card{
    display: flex;
    flex-direction: column;
    border: .5px solid #006568cb;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 1em;
    padding:1.5em 1em;
    margin: 1em;
    p{
        color: rgba(0, 0, 0, 0.438);
        align-self: flex-start;
    }
    img{
        width: 100px;
        height: 100px;
        align-self: center;
    }
}