.product-card{
    display: flex;
    flex-direction: column;
    border: .5px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    margin-bottom: 1em;
    padding:1em;
    margin: 1em;
    p{
        color: rgba(0, 0, 0, 0.438);
        align-self: flex-start;
    }
    img{
        width: 100px;
        height: 100px;
        align-self: center;
    }
}